.offer{
    padding: 0 0 129px 0;
    background: linear-gradient(to bottom, transparent 30%, $bg-section-color 30%);
    .offer__block{
        background:#fff url('../../images/offer/bg-offer.png') no-repeat right 0;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        padding: 81px 190px 83px 81px;
        margin-top: -205px;
        .offer__title{
            @include bold;
            margin: 0;
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 0.75px;
            line-height: 1;
        }
        .offer__subtitle{
            display: block;
            font-size: 21px;
            margin: 22px 0 43px;
        }
        .offer__label{
            display: block;
            font-size: 17px;
            margin: 0 0 15px 0;
        }
    }
    .form-row{
        display: flex;
    }
    .offer__button{
        @include inputbutton(80px,300px);
    }
    .form__select{
        height: 80px;
        width: 300px;
        border: 1px solid #dddddd;
        border-right: none;
        background-color: #ffffff;
        .select_checked{
            padding: 30px 30px 30px 31px;
            position: relative;
            display: flex;
            justify-content: space-between;
        }
        .dropdown{
            display: none;
            position: absolute;
            padding: 0;
            margin: 0;
            .select__option{
                padding: 20px 30px 20px 31px;
                border-top: none;
                background: #fff;
                border: 1px solid #dddddd;
                border-top: none;
                list-style: none;
            }
            .select__option:hover{
                background: #f1f1f1;
            }
        }
        .dropdown__button_active{
            transition: 0.2s;
            transform: rotate(180deg);
        }
        .dropdown__button_active2{
            transition: 0.2s;
            transform: rotate(360deg);
        }
        .dropdown_open{
            display: block;
        }
    }
}
.cheeper-offer{
    padding: 0 0 10px 0;
    background: none;
    .offer__block{
        background:#fff url('../../images/offer/cheeper-offer-bg.png') no-repeat right 0;
        margin-top: -177px;
        padding: 57px 190px 55px 70px;
        .offer__subtitle{
            margin: 22px 0 43px;
            max-width: 835px;
        }
        .form-row{
            margin-top: 30px;
            align-items: center;
            span{
                color: #596164;
                font-size: 17px;
                padding-left: 45px;
            }
        }
    }
}
@media (min-width: 992px) and (max-width:1199px){
    .offer{
        .offer__block{
            padding-left: 40px;
            background-position:  top 0 right -65px;
        }
    }
}
@media (max-width: 991px){
    .offer{
        background: linear-gradient(to bottom, transparent 10%, $bg-section-color 10%);
        .offer__block{
            padding-left: 50px;
            padding-right: 30px;
            background-position: right 0 bottom 0;
            .form-row{
                display: flex;
                flex-direction: column;
                .form__group{
                    margin-bottom: 15px;
                    .offer__input{
                        border-right: 1px solid #dddddd;
                    }
                }
            }
        }
        .form__select{
            border: 1px solid #ddd !important;
        }
        .container{
            max-width: 95%;
        }
    }
}
@media (max-width: 767px){
    .offer{
        .offer__block{
            padding-left: 30px;
            padding-right: 20px;
            background-position: right -230px bottom 0;
        }
        .container{
            max-width: 100%;
            padding: 0 10px;
        }
    }
}
